.main_task_div {
    cursor: pointer;
    position: relative;
    width: 100px;
}

.close_task_div {
    position: absolute;
    top: 0px;
    left: 3px;
    width: 15px;
}

.task_div { 
    font-family: Helvetica Neue, sans-serif;
    font-weight: 100;
    font-size: xx-large;
    padding: 1px;
}

.task_current {
    width: 100px;
    padding: 0px;
    padding-top: 10px;
    background: #fca44c;
    border: 1px solid #fca44c;
}

.task_current_mouseover {
    width: 100px;
    padding: 0px;
    padding-top: 10px;
    background: #fca44c;
    border: 1px solid black;
}

.task_mouseover {
    width: 100px;
    padding: 0px;
    padding-top: 10px;
    background: #d4d4d4;
    border: 1px solid black;
}

.task_inactive {
    width: 100px;
    padding-top: 10px;
    background: #d4d4d4;
    border: 1px solid #d4d4d4;
}
