.main_task_div {
    position: relative;
    width: 100%;
}
.close_task_div {
    position: absolute;
    top: 0px;
    left: 3px;
    width: 15px;
}
.task_div { 
    font-family: Helvetica Neue, sans-serif;
    font-weight: 100;
    font-size: xx-large;
    padding: 1px;
}

table {
    width: 100px;
    padding: 0px;
    padding-top: 10px;
    border-width: 0px;
    border: none;
    background: #fca44c;
}
